<!-- <% if @cur_url == "/recent" %>
  <div class="box" id="leader">
    <em>The <a href="/newest">newest</a> stories with a random sampling of
    recently submitted stories that have not yet reached the front page.</em>
  </div>
<% end %> -->

<% if !@user %>
  <div class="hero">
  سلام. اینجا یه محیط خودمونیه برای اینکه بتونین مطالب جالبی که در طول روز میبینین رو با بقیه به اشتراک بذارین. ایده اصلی ایجاد کردن یه فضاییه که توش بشه در مورد ایده‌هامون باهم حرف بزنیم. کاری که شاید تو سرویس‌هایی مثل توییتر به راحتی امکانپذیر نباشه. اگر حساب کاربری دارین میتونین دوستانتون رو که فکر میکنین ممکنه اینجا رو دوست داشته باشن دعوت کنین. اگر ندارین میتونین به صورت عمومی درخواست دعوتنامه بدین.
  </div>
<% end %>

<ol class="stories list <%= @cur_url == "/hidden" ? "show_hidden" : "" %>">
  <%= render :partial => "stories/listdetail", :collection => @stories,
    :as => :story %>
</ol>

<div class="morelink">
  <% if @page && @page > 1 %>
    <a href="<%= @cur_url %><%= @cur_url == "/" ? "" : "/" %><%=
      @page == 2 ? "" : "page/#{@page - 1}" %>">&lt;&lt; Page
      <%= @page - 1 %></a>
  <% end %>

  <% if @show_more %>
    <% if @page && @page > 1 %>
      |
    <% end %>
    <a href="<%= @cur_url %><%= @cur_url == "/" ? "" : "/" %>page/<%=
      @page + 1 %>">Page <%= @page + 1 %> &gt;&gt;</a>
  <% end %>
</div>
