<div class="box wide">
  <div class="legend right">
    <a href="/u/<%= @user.username %>"><%= t('.viewprofile') %></a>
  </div>
  <div class="legend">
    Account Settings
  </div>

  <%= form_for @edit_user, :url => settings_path, :method => :post,
  :html => { :id => "edit_user" } do |f| %>
    <%= error_messages_for f.object %>

    <div class="boxline">
      <%= f.label :username, t('.username'), :class => "required" %>
      <%= f.text_field :username, :size => 15 %>
      <span class="hint">
        <tt><%= User.username_regex %></tt>
      </span>
    </div>

    <div class="boxline">
      <%= f.label :password, t('.newpassword'), :class => "required" %>
      <%= f.password_field :password, :size => 40, :autocomplete => "off" %>
    </div>

    <div class="boxline">
      <%= f.label :password_confirmation, t('.confirmpassword'),
        :class => "required" %>
      <%= f.password_field :password_confirmation, :size => 40,
        :autocomplete => "off" %>
    </div>

    <div class="boxline">
      <%= f.label :email, t('.emailaddress'), :class => "required" %>
      <%= f.text_field :email, :size => 40 %>
      <span class="hint">
        <a href="http://www.gravatar.com/" target="_blank">Gravatar</a>'ized
      </span>
    </div>

    <div class="boxline">
      <%= f.label :about, t('.about'), :class => "required" %>
      <%= f.text_area :about, :size => "100x5", :style => "width: 600px;" %>
    </div>

    <div class="box">
      <div class="boxline markdown_help_toggler" style="margin-left: 9em;
      width: 600px;">
        <div class="markdown_help_label">
          <%= t('.markdownformattingavailable') %>
        </div>

        <div style="clear: both;"></div>

        <%= render :partial => "global/markdownhelp" %>
      </div>
    </div>

    <p>
    <%= f.submit t('.saveaccountsettings') %>
    </p>

    <br>

    <div class="legend">
      <%= t('notificationsettings') %>
    </div>

    <div class="boxline">
      <%= f.label :pushover_user_key,
        raw("<a href=\"https://pushover.net/\">Pushover</a>:"),
        :class => "required" %>
      <%= link_to((f.object.pushover_user_key.present??
        t('.managepushoversubscription') : t('.subscribewithpushover')),
        "/settings/pushover", :class => "pushover_button", :method => :post) %>
      <span class="hint">
        <%= t('.optionalnotifications') %>
      </span>
    </div>

    <br>

    <div class="legend">
      <%= t('.commentreply') %>
    </div>

    <div class="boxline">
      <%= f.label :email_replies, t('.receiveemail'), :class => "required" %>
      <%= f.check_box :email_replies %>
    </div>

    <div class="boxline">
      <%= f.label :pushover_replies, t('.receivepushoveralert'),
        :class => "required" %>
      <%= f.check_box :pushover_replies %>
      <span class="hint">
        <%= t('.requirespushover') %>
      </span>
    </div>

    <br>

    <div class="legend">
      <%= t('.commentmentionnotification') %>
    </div>

    <div class="boxline">
      <%= f.label :email_mentions, t('.receiveemail'), :class => "required" %>
      <%= f.check_box :email_mentions %>
    </div>

    <div class="boxline">
      <%= f.label :pushover_mentions, t('.receivepushoveralert'),
        :class => "required" %>
      <%= f.check_box :pushover_mentions %>
      <span class="hint">
        <%= t('.requirespushover') %>
      </span>
    </div>

    <br>

    <div class="legend">
      <%= t('.privatemessagenotification') %>
    </div>

    <div class="boxline">
      <%= f.label :email_messages, t('.receiveemail'), :class => "required" %>
      <%= f.check_box :email_messages %>
    </div>

    <div class="boxline">
      <%= f.label :pushover_messages, t('.receivepushoveralert'),
        :class => "required" %>
      <%= f.check_box :pushover_messages %>
      <span class="hint">
        <%= t('.requirespushover') %>
      </span>
    </div>

    <br>

    <div class="legend">
      <%= t('.storycommentnotification') %>
    </div>

    <div class="boxline">
      <%= f.label :show_submitted_story_threads,
        raw("Show in <a href=\"/threads\">Your Threads</a>:"),
        :class => "required" %>
      <%= f.check_box :show_submitted_story_threads %>
    </div>

    <br>

    <div class="legend">
      <%= t('.mailinglistsettings') %>
    </div>

    <p>
      <%= t('.mailinglistp1') %>
    </p>

    <div class="boxline">
      <%= f.label :mailing_list_mode, t('.receiveemail'),
        :class => "required" %>
      <%= f.select :mailing_list_mode, [ [ t('.noemails'), 0 ],
        [ t('.allstoriescomments'), 1 ], [ t('.onlystories'), 2 ] ] %>
    </div>

    <div class="boxline">
      <label class="required"><%= t('.listaddress') %></label>
      <span>
      <tt><%= Rails.application.shortname %>-<%=
        @edit_user.mailing_list_token %>@<%= Rails.application.domain %></tt>
      </span>
    </div>

    <br>

    <div class="legend">
      <%= t('.miscsettings') %>
    </div>

    <div class="boxline">
      <%= f.label :show_story_previews, t('.showstorypreviews'),
        :class => "required" %>
      <%= f.check_box :show_story_previews %>
    </div>

    <div class="boxline">
      <%= f.label :show_avatars, t('.showuseravatars'), :class => "required" %>
      <%= f.check_box :show_avatars %>
    </div>

    <div class="boxline">
      <%= f.label :hide_dragons, t('.hidedragons'), :class => "required" %>
      <%= f.check_box :hide_dragons %>
    </div>

    <br>
    <%= f.submit t('.saveallsettings') %>
  <% end %>

  <br>
  <br>

  <a name="invite"></a>
  <div class="legend">
    <%= t('.invitenewuser') %>
  </div>

  <% if @user.can_invite? %>
    <%= render :partial => "users/invitationform" %>
  <% else %>
      <%= t('.cannotsendinvites') %>
  <% end %>

  <br>
  <br>

  <%= form_for @edit_user, :url => delete_account_path, :method => :post,
  :html => { :id => "delete_user" } do |f| %>
    <div class="legend">
      <%= t('.deleteaccount') %>
    </div>

    <p>
      <%= t('.deleteaccountp1') %>
    </p>

    <div class="boxline">
      <%= f.label :password, t('.verifypassword'), :class => "required" %>
      <%= f.password_field :password, :size => 40, :autocomplete => "off" %>
    </div>

    <br>
    <%= f.submit t('.yesdelete') %>
  <% end %>
</div>
