<div class="box wide">
  <div class="legend">
    <%= t('.resetpassword') %>
  </div>

  <p>
    <%= t('.instructions') %>
  If you've forgotten your password, enter your e-mail address or username
  below and instructions will be e-mailed to you.
  </p>

  <%= form_tag reset_password_path do %>
    <%= label_tag :email, t('.emailorusername') %>
    <%= text_field_tag :email, "", :size => 30 %>
    <br />

    <p>
    <%= submit_tag t('.resetpassword') %>
    </p>
  <% end %>
</div>
