<div class="box wide">
  <div class="legend">
    <% t('.login') %>
  </div>

  <%= form_tag login_path do %>
  <p>
    <%= label_tag :email, t('.credentials') %>
    <%= text_field_tag :email, "", :size => 30, :autofocus => "autofocus" %>
    <br />

    <%= label_tag :password, t('.password') %>
    <%= password_field_tag :password, "", :size => 30 %>
    <br />
    </p>

    <p>
    <%= submit_tag t('.login') %>
    </p>

    <p>
    <%= t('.forgotpassword') %>
      <%= link_to t('.resetyourpassword'), forgot_password_path %>.
    </p>

    <p>
    <%= t('.inviteonly') %>
    </p>

    <% if @referer.present? %>
      <%= hidden_field_tag :referer, @referer %>
    <% end %>
  <% end %>
</div>

Not a user yet?  Signup is by invitation only to combat spam and increase
accountability.  If you know <a href="/u/">a current user</a> of the site,
ask them for an invitation or
<% if Rails.application.allow_invitation_requests? %>
  <a href="/invitations/request">request one publicly</a>.
<% else %>
  request one in <a href="/chat">chat</a>.
<% end %>
