<div class="markdown_help" style="display: none; padding-top: 0.5em;">
  <table>
  <tr>
    <td width="125"><%= t('.emphasized') %></td>
    <td><%= t('.emphasizeddescription') %></td>
  </tr>
  <tr>
    <td><%= t('.strong') %></td>
    <td><%= t('.strongdescription') %></td>
  </tr>
  <!--
  <tr>
    <td><strike>struck-through</strike></td>
    <td>surround text with <tt>~~two tilde characters~~</tt></td>
  </tr>
  -->
  <tr>
    <td><%= t('.fixedwidth') %></td>
    <td><%= t('.fixedwidthdescription') %></td>
  </tr>
  <tr>
    <td><%= t('.linked') %></td>
    <td><%= t('.linkeddescription') %></td>
  </tr>
  <tr>
    <td><%= t('.quoted') %></td>
    <td><%= t('.quoteddescription') %></td>
  </tr>
  <tr>
    <td><%= t('.prefix') %></td>
    <td><%= t('.prefixdescription') %></td>
  </tr>
  <% if defined?(allow_images) && allow_images %>
    <tr>
      <td>(inline image)</td>
      <td><tt>![alt text](http://example.com/image.jpg)</tt> (only allowed in
        story text</td>
    </tr>
  <% end %>
  </table>
</div>
