<div class="markdown_help" style="display: none; padding-top: 0.5em;">
  <table>
  <tr>
    <td width="125"><em><%= t('.emphasized') %></em></td>
    <td><%= t('.emphasizeddescription') %></td>
  </tr>
  <tr>
    <td><strong><%= t('.strong') %></strong></td>
    <td><%= t('.strongdescription') %></td>
  </tr>
  <!--
  <tr>
    <td><strike>struck-through</strike></td>
    <td>surround text with <tt>~~two tilde characters~~</tt></td>
  </tr>
  -->
  <tr>
    <td><tt><%= t('.fixedwidth') %></tt></td>
    <td><%= t('.fixedwidthdescription') %></tt></td>
  </tr>
  <tr>
    <td><a href="http://example.com/"
      style="color: inherit;"><%= t('.linked') %></a></td>
    <td><tt>[<%= t('.linked') %>](http://example.com/)</tt> <%= t('.linkeddescription') %></td>
  </tr>
  <tr>
    <td><blockquote><%= t('.quoted') %></blockquote></td>
    <td><%= t('.quoteddescription') %></td>
  </tr>
  <tr>
    <td><pre style="margin: 0px;"><%= t('.pre') %>
    <%= t('.text') %></pre></td>
    <td><%= t('.prefixdescription') %></td>
  </tr>
  <% if defined?(allow_images) && allow_images %>
    <tr>
      <td><%= t('.image') %></td>
      <td><tt>![<%= t('.imagecaption') %>](http://example.com/image.jpg)</tt><%= t('.imagecaveat') %></td>
    </tr>
  <% end %>
  </table>
</div>
